[Desktop Entry]
Type=Application
Name=NetAnalysis Simulator
GenericName=Network Diagnostic Simulator
Comment=NetDiagnostic simulator for testing and development
Exec=net_diagnostic_sim
Icon=netanalysis
Terminal=false
Categories=System;
Keywords=network;diagnostic;simulator;test;dev;
